<header>
    <nav class = "header-nav">
        <a class = "header-title" href = "/">Home Page</a>
        <ul>
            <li class = "header-link"> <a href = "/authors">View all Authors</a></li>
            <li class = "header-link"> <a href = "/authors/new">Add a new Author</a></li>
            <li class = "header-link"> <a href = "/books">View all Books</a></li>
            <li class = "header-link"> <a href = "/books/new">Add a new Book</a></li>
           
            </ul>
    </nav>


</header>